<h1>Tickets</h1>

<% @tickets.each do |ticket| %>
  <h2><%= ticket.subject %></h2>
  <h3>Created by: <%= ticket.creator&.name || Ticket::EMPTY_CREATOR %>
  <h3>Assigned to: <%= ticket.owner&.name || Ticket::EMPTY_OWNER %></h3>
  <h4>Status: <%= ticket.status %>
  <p><%= ticket.body %></p>
<% end %>